/* Created by: George, Khalil
* Created on: May 2024
* This file contains the CSS for index.html
*/

body {
  background-color: lightgreen;
}

.html {
  height: 100%;
  width: 100%;
}

.button {
  background-color: #3fae32;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;}